*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#homepage, #contacts-page, #services-page{
    opacity: 0;
    animation: fade 0.2s cubic-bezier(.09,.25,.38,.99) 0.5s 1 forwards;
}

@keyframes fade{
    100%{
        opacity: 1;
    }
}

.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: white;
    z-index: 2;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: #000;
}

.logo{
    font-family: 'Lexend Peta', sans-serif;
}

.logo:hover{
    cursor: pointer;
}
.navigation{
    display: flex;
    justify-content: space-between;
}

.navigation a{
    color: black;
    text-decoration: none;
    transition: all 0.4s ease;
}

.navigation a:hover{
    cursor: pointer;
    color: #e54466;
}

.nav-link{
    padding: 20px 0px;
    margin-right: 25px;
}

.hero{
    position:relative;
    width: 100%;
    padding-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/hero-img1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hero::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4)
}


#frontline{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    color: white;
    z-index: 1;
    font-size: 62px;
    font-weight: 600;
    opacity: 0;
}


.#e54466-colored{
    color: #e54466;
}

.contacts-banner::after, .service-banner::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.contacts-banner div, .service-banner div{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    color: #ffffff;
    font-size: 3rem;
    font-weight:600;
}


.scroll-show{
    opacity: 0;
}

.intro{
    display: flex;
    justify-content: center;
}

.intro-half{
    margin-top: 90px;
    margin-bottom: 70px;
    max-height: 80vh;
    width: 40vw;
    box-sizing: border-box;
}

.intro-half:nth-child(1){
    margin-right: 40px;
    overflow: hidden;
}

.intro-half:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
}

.intro-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 120%;
}

.img-wrapper{
    width:100%;
    height: 14rem;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: 0;
}

.intro-image1{
    width: 100%;
}

.intro-text h2{
    font-size: 2rem;
}

.intro-text p{
    margin-top: 0.9rem;
}

.work-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    border: 1px solid #000;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #000;
}

.work-btn:hover{
    cursor: pointer;
    background: #000;
    color: #fff;
    transform: scale(1.05);
}

.service{
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: #ededed;
}

.service header{
    text-align: center;
    margin-bottom: 50px;
}

.wrapper{
    height: 300px;
    overflow: hidden;
}

.service-row{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-column-gap: 5%;
    margin-bottom: 60px;
}

.service-tile{
    overflow: hidden;  
    text-decoration: none;
    color: #000;
}

.service-img{
    max-width: 500px;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
}

.service-tile:hover{
    cursor: pointer;
}

.service-tile:hover .service-img{
    cursor: pointer;
    opacity: 0.75;
    transform: scale(1.1);
}

.service-tile:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 3;
}

.caption{
    position: relative;
    margin-top: 18px;
    font-size: 24px;
    padding-bottom: 18px;
}

.caption::after{
    content: "";
    position: absolute;
    width: 20%;
    left:0;
    bottom: 0;
    border-bottom: 2px solid black;
}

.clients{
    background-image: url("./images/sewing-machine.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
}

.clients header{
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
}

.customers-row{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-gap: 5%;
    margin-bottom: 80px;
}


.customers-tile:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 3;
}

.client-imgWrap{
    height: auto;
    width: 180px;

}

.client-imgWrap img{
    height: 100%;
    width: 100%;
}

.quote{
    font-size: 50px;
    color: #a5a5a5;
}

.client-id{
    margin-top: 30px;
    margin-bottom: 25px;
}

.client-name{
    color: #e54466;
}

.client-id em{
    font-size: 14px;
}

.contact{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p{
    margin-bottom: 30px;
    width: 60%;
    font-size: 18px;
}

.contact h3{
    font-size: 38px;
}

.cta, #services-pages .cta{
    position: relative;
    color: #000;
    padding: 12px 25px;
    background: transparent;
    margin-top: 30px;
    border: 1px solid #000;
    transition: all .2s ease;
    text-decoration: none;
}

.cta:hover{
    cursor: pointer;
    background: #000;
    color: #fff;
    transform: scale(1.05);
}


footer{
    background: url(./images/footer-img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services-page footer::after, #contacts-page footer::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f4a830;
}

#services-page footer div, #contacts-page footer div{
    z-index: 1;
} 

.social-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-right: 12px;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    transition: all .4s ease;
}

.social-icon:hover{
    background: #e54466;
    color: #fff;
    cursor: pointer;
}

.copyright-wrapper{
    margin-bottom: 50px;
}

/*responsive code starts*/

@media screen and (max-width: 1025px){
    .intro-half:first-child{
        display: none;
    }

    .intro-half{
        margin-top: 50px;
        height: auto;
        width: 100vw;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .intro-text{
        padding-left: 25px;
    }

    .img-wrapper{
        height: 400px;
        overflow: hidden;
        margin-top: auto;
    }

    .work-btn{
        margin-bottom: 50px;
    }

    .service-row{
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: auto auto;
        grid-row-gap: 50px;  
    }

    .service-tile{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .service-tile img{
        object-fit: cover;
    }

    .clients header{
        width: 75%;
        margin: auto;
        margin-bottom: 80px;
    }

    .customers-row{
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: auto auto auto;
        grid-row-gap: 50px;
    }

    .customers-tile{
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
    }

    .contact h3{
        font-size: 24px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
}


@media screen and (max-width: 600px){
    .navbar{
        flex-direction: column;
    }

    .logo{
        margin-top: 10px;
    }

    .nav-link:nth-child(2){
        margin-right: 0;
    }

    #frontline,.contacts-banner div, .service-banner div{
        width: 90%;
        font-size: 36px;
    }

    .service-row, .customers-row{
        grid-template-columns: 5% 1fr 5%;
    }

    .contact p{
        width: 90%;
        font-size: 12px;
    }

}


