#contacts-page{
    background: #ededed;
}
.contacts-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background: url('./images/contact-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.address-holder{
    padding-top: 80px;
    padding-bottom: 80px;
    height: 90vh;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 8% 1fr 1fr 8%;
    grid-column-gap: 40px;
}

.address-wrapper{
    position: relative;
    background: url("./images/shop.jpg");
    color: #fff;
    padding: 20px;
    height: 400px;
    width: 550px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.address-contents{
    position: absolute;
    z-index: 1;
}

.address-wrapper::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
}

.address-wrapper i{
    color: salmon;
    width: 30px;
    font-size: 20px;
    line-height: 32px;
    margin-right: 5px;
}

.address-city{
    font-size: 24px;
    margin-bottom: 8px;
}

.shop-name{
    font-size: 26px;
    margin-bottom: 8px;
}

.form-section{
    padding-bottom: 80px;
    width: 100%;
}

.form-section h4{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: auto;
}

.form-item{
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
}

.label{
    font-size: 1rem;
    margin-bottom: 7px;
    color:rgba(99, 99, 99, 1);
}

.entry-field {
    width: 100%;
    color:rgba(181, 181, 181, 1);
    background: transparent;
    border: 1px solid #1a1a1a;
    height: 40px;
    padding: 8px;
    letter-spacing: 1.5px;
}

#submit {
    background: #1a1a1a;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    align-self: flex-start;
    color: #fff;
    border: 1px solid #1a1a1a;
    transition: all 0.3s ease;
}

#submit:hover{
    cursor: pointer;
    background: transparent;
    color: #1a1a1a;
}

#contacts-page footer{
    position: relative;
    background: url("./images/contacts-footer.jpg");
}

/*responsive code starts*/
@media screen and (max-width: 1025px){

    .address-holder{
        height: auto;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 400px 500px;
        grid-row-gap: 40px;
        grid-column-gap: 0;
    }
    
    .address-wrapper{
        width: 100%;
    }
    
    .address-holder iframe{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #contact-form{
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    
    .address-holder{
        height: auto;
        grid-template-columns: 15px 1fr 15px;
    }
    
    #contact-form{
        width: 90%;
    }
}
